@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: "Lucida Console";
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Lucida Console";
    font-size: 40px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    margin-top: 20px;
}