@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: "Lucida Console";
    box-sizing: border-box;
    margin: 0;
}

h3 {
    text-align: center;
    margin-top: 20px;
}